<footer class="footer">
  <div class="text-right bg-elefab pr-3">
  <p class="text-white align-middle font-weight-bold">

      <a class="btn" href="https://documentations.elefab.org/" target="_blank">
            <i class="fa fa-2x fa-book text-light mr-2"> </i>
      </a>

      <a class="btn" href="https://github.com/fablab-leprototype/" target="_blank">
            <i class="fa fa-2x fa-github text-light mr-2"> </i>
      </a>

      <a class="btn" href="https://twitter.com/fablabchambery" target="_blank">
            <i class="fa fa-2x fa-twitter text-light mr-2"> </i>
      </a>
      <a class="btn" href="https://www.facebook.com/FablabChambery" target="_blank">
            <i class="fa fa-2x fa-facebook-square text-light mr-2"> </i>
      </a>
      <a class="btn" href="https://plus.google.com/communities/102420477003488972725" target="_blank">
            <i class="fa fa-2x fa-google-plus text-light mr-2"> </i>
      </a>
      <a class="btn" href="https://www.instagram.com/elefab73/" target="_blank">
            <i class="fa fa-2x fa-instagram text-light mr-2"> </i>
      </a>
      <a class="btn" href="https://www.youtube.com/channel/UCY1m-bPCqMAcFBHnKCXkp4g" target="_blank">
            <i class="fa fa-2x fa-youtube text-light mr-2"> </i>
      </a>
      © 2018 · Association Fablab - Le prototype
  </p>
  </div>
</footer>
